.container{
  display: flex;
  justify-content: center;
  margin-top: 6vh;
}
.card{
  width: 70%;
}
.card_header{
  background-color:#CBB989;
  padding: 10px;
}

.left{
  display: flex;
  padding: 20px;
  height: 10px;
  background-color:white;
  justify-content: center;
}
.profile_img{
    display: flex;
    justify-content: start;
  margin: 20px 0;
}
.profile_img img{
  margin-top: 10px;
  height: 130px;
  cursor: pointer;
  border-radius: 4px;

}

.image_label{
  display: flex;
  justify-content: center;
}

.right{
  padding: 20px;
  padding-right: 30px;
  height: auto;
  background-color: white;
}

.update_btn{
  margin-top: 25px;
  display: flex;
  justify-content:center;
}
.update_btn button
{
  /* height: 3.8vh; */
}
