.container{
  display: flex;
  justify-content: center;
  margin-top: 6vh;
}
.card{
  width: 70%;
}
.card_header{
  background-color: rgba(199, 166, 81, 0.733);
  padding: 10px;
}

.left{
  display: flex;
  padding: 20px;
  height: 215px;
  background-color:white;
  justify-content: center;
}
.profile_img{
  display: flex;
  justify-content: center;
}
.profile_img img{
  width: 150px;
  cursor: pointer;
}

.image_label{
  display: flex;
  justify-content: center;
}

.right{
  padding: 20px;
  height: 215px;
  background-color: white;
}

.update_btn{
  margin-top: 25px;
  display: flex;
  justify-content:center;
}
.update_btn button
{
  /* height: 3.8vh; */
}