.main_body
{
    background-color: whitesmoke;
    height: auto;
}
.container
{
    height:auto;
    width: 100%;
}
.my_modal
{
    margin-top: 10vh;
}

.my_profile
{
    display: flex;
    justify-content: center;
}
.my_profile img
{
    width: 120px;
    border-radius: 7px;
}
.my_details
{
    margin-top: 20px;
    /* text-align: center; */

}
.content_column
{
   display: flex;
   /* justify-content: space-between; */
   /* align-items: end; */
    padding: 8px 0;
    border-bottom: 0.5px solid #d8cfcf;
}
.content_column p
{
    margin: 0;
}
.content_heading
{
    width: 40%;
}
.content_details
{
    width: 60%;

}

@media screen and (min-width:1500px) and (max-width:2000px)
{
    .main_body
    {
        background-color: whitesmoke;
        height: auto;
    }
}