.container
{
    text-align: center;
    padding-bottom: 25px;
}
.profile_img 

.profile_img img {
    border-radius: 4px;
    height: 60px;
  }
.affiliation_input
{
     width: 75%;
      height: 6vh;
      border: 1px solid #757575; 
      border-radius: 7px; 
      padding: 0 8px;
}

@media only screen and (min-width:1450px)
{
    .affiliation_input
{
     width: 75%;
      height: 4vh;
      border: 1px solid #757575; 
      border-radius: 7px; 
      padding: 0 8px;
}
}