/* .container
{
  height: 100vh;
  width: 100%;
  background-color: rgb(64, 153, 189);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main
{
  height: 55vh;
  width: 40%;
  background-color: rgb(218, 216, 216);
  border-radius: 10px;
  text-align: center;
  padding-top: 27px;
}
.my_form
{
}
.heading
{
  color: black;
  padding-top: 20px;
}
.content_label label
{
  color: whitesmoke;
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
}
.content_input input
{
  width: 50%;

}
.content_btn button
{
  background-color:#2672C8;
  color: whitesmoke;
  margin-top: 20px;
  width: 110px;
  border-radius: 2px;
  font-weight: 450;
}

@media (max-width:769px) {
  
  .container
{
  height: 100vh;
  width: 100%;
  background-color: rgb(64, 153, 189);
  display: flex;
  justify-content: center;
  align-items: center;
}
  .main
{
  height: 75vh;
  width: 50%;
  background-color: rgb(218, 216, 216);
  border-radius: 10px;
  text-align: center;
}
.content_btn button
{
  background-color:#2672C8;
  color: whitesmoke;
  margin-top: 20px;
  width: 100px;
  border-radius: 2px;
  font-weight: 500;
}
.heading
{
  color: black;
  font-size: 18px;
  padding-top: 15px;
}
.content_label label
{
  color: whitesmoke;
  font-size: 15px;
  font-weight: 500;
  padding: 10px;
}
}
@media (min-width:769px) and (max-width:1000px) {
  
  .container
{
  height: 100vh;
  width: 100%;
  background-color: rgb(64, 153, 189);
  display: flex;
  justify-content: center;
  align-items: center;
}
  .main
{
  height: 80vh;
  width: 60%;
  background-color: rgb(218, 216, 216);
  border-radius: 10px;
  text-align: center;
}
.content_btn button
{
  background-color: #2672C8;
  color: whitesmoke;
  margin-top: 40px;
  width: 100px;
  border-radius: 2px;
  font-weight: 500;
}
.heading
{
  color: black;
  font-size: 18px;
  padding-top: 30px;
}
.content_label label
{
  color: whitesmoke;
  font-size: 15px;
  font-weight: 500;
  padding: 10px;
  margin-top: 20px;
}
}
@media (min-width:1000px) and (max-width:1280px){
  .container
{
  height: 100vh;
  width: 100%;
  background-color: rgb(64, 153, 189);
  display: flex;
  justify-content: center;
  align-items: center;
}
  .main
{
  height: 80vh;
  width: 60%;
  background-color: rgb(218, 216, 216);
  border-radius: 10px;
  text-align: center;
}
.content_btn button
{
  background-color:#2672C8;
  color: whitesmoke;
  margin-top: 40px;
  width: 100px;
  border-radius: 2px;
  font-weight: 500;
}
.heading
{
  color: black;
  font-size: 18px;
  padding-top: 30px;
}
.content_label label
{
  color: whitesmoke;
  font-size: 15px;
  font-weight: 500;
  padding: 10px;
}
} */
.login_form
{
padding: 10px;
}
.main_container
{
  width:50%; 
  margin-left:250px;
}

.my_input
{
  width:75%;
  margin-left:55px;
}
.my_btn
{
  display:flex;
  justify-content: center;
}
.my_btn button
{
  width:30%;
  height: 35px !important;
  color:white;
   background-color:#0b64ca;
   border: 0.5px solid #080808;
   border-radius: 4px;
    font-size:15px;
    font-weight:400
}

@media (min-width:774px) and (max-width:990px){
  .main_container
{
  width:70%; 
  margin-left:150px;
}

.my_input
{
  width:75%;
  margin-left:55px;
}
.my_btn
{
  display:flex;
  justify-content: center;
}
.my_btn button
{
  width:30%;
  height: 35px !important;
  color:white;
  background-color:#0b64ca;
   border: 0.5px solid #080808;
   border-radius: 4px;
    font-size:15px;
    font-weight:400
}
}
@media (min-width:500px) and (max-width:774px){
  .main_container
{
  width:80%; 
  margin-left:70px;
}

.my_input
{
  width:75%;
  margin-left:55px;
}
.my_btn
{
  display:flex;
  justify-content: center;
}
.my_btn button
{
  width:30%;
  height: 35px !important;
  color:white;
  background-color:#0b64ca;
   border: 0.5px solid #080808;
   border-radius: 4px;
    font-size:15px;
    font-weight:400
}
}
@media (min-width:300px) and (max-width:500px){
  .main_container
{
  width: 90%; 
  margin-left:30px;
}

.my_input
{
  width:75%;
  margin-left:40px;
}
.my_btn
{
  display:flex;
  justify-content: center;
}
.my_btn button
{
  width:30%;
  height: 35px !important;
  color:white;
  background-color:#0b64ca;
   border: 0.5px solid #080808;
   border-radius: 4px;
    font-size:15px;
    font-weight:400
}
}
@media (min-width:250px) and (max-width:300px){
  .main_container
{
  width: 90%; 
  margin-left:13px;
}

.my_input
{
  width:75%;
  margin-left:40px;
}
.my_btn
{
  display:flex;
  justify-content: center;
}
.my_btn button
{
  width:30%;
  height: 35px !important;
  color:white;
  background-color:#0b64ca;
   border: 0.5px solid #080808;
   border-radius: 4px;
    font-size:15px;
    font-weight:400
}
}