/* .container{
    display: flex;
    justify-content: center;
    margin-top: 12vh;
  }
  .card{
    width: 45%;
}
  .card_header{
    background-color: rgba(199, 166, 81, 0.733);
    padding: 10px;
  }
  
  .left{
    display: flex;
    padding: 20px;
    background-color:white;
    justify-content: center;
  }
  .profile_img{
    display: flex;
    justify-content: center;
  }
  .profile_img img{
    width: 150px;
    cursor: pointer;
  }
  
  .image_label{
    display: flex;
    justify-content: center;
  }
  
  .right{
    padding: 20px;
    height: 215px;
    background-color: white;
  }
  
  .update_btn{
    margin-top: 25px;
    display: flex;
    justify-content:center;
  }

  .hide
  {
position: relative;
  }
.hideEye
{
position: absolute;
top: 0;
right: 0;
}
  @media screen and (min-width:1500px) and (max-width:2000px)
  {
    .update_btn button
    {
      height: 5.5vh;
    }
  } */

.my_btn button
{
 background-color: #CBB989 !important;
}
















































































  .my_btn{

    display:flex;
    justify-content: center; 
}
.login_form
{
/* padding: 10px; */
}
.my_btn button
{
    width:20%;
    height: 40px !important;
    color:white;
    background-color: rgba(201, 153, 33, 0.733); 
    border: 1px solid  rgba(201, 153, 33, 0.733) !important;
    border-radius: 3px;
     font-size:15px;
     font-weight:400;
}
.left_div{
    padding-top: 15px;
    background-color:white;
}
.my_logo
{
}
.my_logo img
{
    margin-top: 20px;
    width: 180px;
}
.my_logo h2
{
}
.reset_link {
    display: flex;
    justify-content: flex-end;
}
.reset_link  a{
  text-decoration: none;
}

@media only screen and (max-width:768px)
{
    .my_btn button
    {
        width:100%;
        height: 100%;
    }
    .my_logo img
{
    width: 150px;
}
}


@media only screen and (min-width:769px) and (max-width:1366px)
{
    .my_btn button
    {
        width:100%;
        height: 100%;
        color:white;
        background-color: rgba(201, 153, 33, 0.733); 
        border: 1px solid #3d3c3c;
        border-radius: 3px;
         font-size:15px;
         font-weight:400;
    }
    .my_logo img
{
    width: 165px;
}
}

@media only screen and (min-width:1367px)
{
    .my_btn button
    {
        width:100%;
        height: 100%;
        color:white;
        background-color: rgba(201, 153, 33, 0.733); 
        border: 1px solid #3d3c3c;
        border-radius: 3px;
         font-size:15px;
         font-weight:400;
    }
}
