.container {
  width: 100%;
  height: auto;
  padding: 30px;
    background-color: white; 
  padding-top: 10px;
}
.main_content {
  position: sticky;
  top: 0;
  color: #fff; 
  z-index: 1000;
}

.header span {
  color: #424242;
  font-size: 24px;
  font-weight: 500;
}

.content {
}

.push_label {
  margin-top: 50px;
}
.push_label textarea {
  width: 100%;
  height: 20vh;
  border: 1px solid #757575;
  border-radius: 12px;
  padding-left: 10px;
  padding-top: 10px;
}
.data_table {
margin-top: 35px;
}
.my_btn {
  margin-top: 10px;
  text-align:end;
}
.my_btn1
{
  /* font-size: 24px !important; */
}
